.secondary {
  color: #8b949e;
}
.btnSecondary {
  color: var(--white);
  background-color: #21262d;
  border: 1px solid #30363d;
  border-radius: 6px;
  outline: none;
  box-shadow: none;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: 600;
}
.grid {
  display: grid;
  grid-template-columns: 25% 40% 25%;
  grid-column-gap: 0.8rem;
  margin-top: 2rem;
}
button:disabled {
  color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
  background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
  border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}
