* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #0d1117;
  --white: #c9d1d9;
  --dakGray: #8b949e;
  --backgroundColor: var(--white);
  --textColor: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroundColor: var(--black);
    --textColor: var(--white);
  }
}
html {
  font: 100%/1.5 "Helvetica Neue", sans-serif;
  color: var(--textColor);
  background-color: var(--backgroundColor);
  padding: 1.5rem;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  max-width: 75%;
  margin: 0 auto;
}
input {
  color: var(--white);
    background-color: #21262d;
    border: 1px solid #30363d;
    border-radius: 6px;
    outline: none;
    box-shadow: none;
    padding: 12px;
    font-size: 1.2rem;
    font-weight: 400;
}
input:focus {
  border-color: #388bfd;
}
.addButton {
  background-color: #388bfd;
  color: var(--white);
  border: 1px solid #30363d;
  border-radius: 6px;
  outline: none;
  box-shadow: none;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: 600;

}
p {
  font-weight: 600;
}
